/node_modules
/public/hot
/public/storage
/public/build
/public/vendor
/public/css
/public/js
/storage/*.key
/vendor
/db-data
.vscode/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
composer.phar
npm-debug.log
yarn-error.log
*.swp
*.cache
storage/mysql
stripe
.env.testing
*.Identifier
temp.txt
.claude/